.ranking-board{data: {id: @ranking_board.id} }
	.rankings.sortable
		- @rankings.each_with_index do |ranking, index|
			.ranking{data: {ranking: index+1, id: ranking.id} }
				%span.ranking-number= index+1
				- if ranking.moment_id.present?
					%span= ranking.moment.title
				- else
					%span.blank-moment BLANK MOMENT

.moments-list
	.seasons
		- @tvshow.number_of_seasons.times do |index|
			.season{data: {number: index+1} }
				%span= "Season #{index+1}"
				.episodes
					- @tvshow.episodes.in_season(index+1).each do |episode|
						.episode
							%span.episode-name= episode
							.moments
								- episode.moments.each do |moment|
									.moment
										%span.moment-name= moment
